
.box{
    border: 2px solid rgb(147, 173, 204);
    margin: 5% auto;
    padding:4%;
    box-shadow: 1rem 1rem 1rem 0 rgba(221, 221, 230, 0.829);
    border-radius: 10%;
    background-color: rgb(252, 252, 252);
}
.box label{
    font-size: 1rem;
    padding: 5% 0 0 0;
    user-select: none;
}
.box input, .box textarea{
    width: 100%;
    margin: 0 0 5% 0;
    outline: none;
    border: none;
    background-color: rgba(221, 221, 230, 0.829);
    border-left-style:groove;
    border-bottom: 2px solid  rgba(120, 120, 123, 0.467);
    transition: all 300ms ease-out;
    user-select: none;
}
.box button{
    width: 100%;
    margin-top: 5%;
}

.box input:focus, .box textarea:focus{
    border-bottom: 2px solid green;
}
.box h3{
    text-align: center;
}
/* //////////////////////////////////////////////////////////////////////////// */
/* .post-box{
    width: 75%;
    margin: 1% auto;
    /* border: 2px solid grey; */
/* } */ 
/* /////////////////////////////////////////////post-box /////////////////////////////////////////*/
.post-box{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 75%;
    margin: 1.3% auto;
    box-shadow: 5px 5px 15px grey;
    transition: all 350ms ;
    background-color: white;
}
.posts{
    margin-bottom: 0;
}
.profile-pic {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin:auto 0;
}
.posts h3{
    text-align: center;
    width: 60%;
    margin: 1% auto;
    font-family: 'Kaushan Script', cursive;
}
.posts h4{
    text-align: center;
    width: 30%;
    margin: 0 auto;
    letter-spacing: 1rem;
    color: grey;
    font-size: 2rem;
}
.posts a{
    text-decoration: none;
    color: black;

}
.media-head{
width: 100%;
}
.media-head h5{
    display: inline-block;
    text-align: center;
    width:80%;
}
.post-box:hover{
    transform: scale(1.01);
}
/* ///////////////////////////////////////////////////////////////////////////////////////*/
.brand{
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6rem;
}
hr{
    width: 40%;
}
.home-head{
    user-select: none;
   width: 100%;
   height: 90vh;
  text-align: center;
  position: relative;
}
.home-head .buildings{
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    left:0%;
    margin: 0 auto;
 }
 .home-head .birds{
width: 10%;
position: absolute;
z-index: 1;
 }

.home-head .bird1{
top:35vh;
}
.home-head .bird2{
top: 42vh;
left: 20vw;
}
.welcome-text{
    font-family: 'Kaushan Script', cursive;
}
.welcome-text span{
    font-family: 'Permanent Marker', cursive;
}
.profile-box{
    text-align: center;
    margin-top: 1%;
}
.custom-box{
    width: 60%;
    margin: 5% auto;
    min-height: 60vh
}
.custom-box h1,.post-box h5{
    font-family: 'Secular One', sans-serif;
    font-weight: 700;
}
.custom-box p, .post-box p{
    font-family: 'Noto Serif JP', serif;
}
.bg-custom{
    background-color: #17a2b8;
    color: white;
}
.bg-custom:hover{
    background-color:#17a3b8b4 ;
}
@media only screen and (max-width: 1050px) {
.home-head{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 60vh;
    font-size: 8px;
}
.home-head .buildings{
    width: 140%;
    top:   30vh;
    left: -15%;
}
.custom-box{
    width: 80%;
}
.custom-box h1{
    font-size: 22px;
}
/* #17a2b8 */
.post-box{
    display: flex;
    flex-direction: column;
    width: 78%;
}
  .profile-pic{
    /* overflow: hidden; */
    width:15%;
    height: 20%;
    margin: 0 auto;
  }
  .media{
    width: 100%;
  }
.posts h4, .posts h3{
    font-size: 1.2rem;
}
.bg-custom{
    background-color: transparent;
}
  }
  /* /////////////////////////////////////////////////// */
.optional{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0;
}
.logout{
    margin:0 auto;
    text-align: center;
}

/* /////////////////main home body //////////////////*/
.main-home-body{
    background-color: white;
}
footer{
    background-color:rgb(45, 46, 53) ;
    color: white;
    font-family: 'Kaushan Script', cursive;
}

/* ////////////////////////////////////////// */
.icons{
    width: 2em;
}
.icon-in{
width: 1.5em;
}
.icon-box{
    display: inline-block;
    position: relative;
    right: 3%;
    top: 13%;
    width: 40%;
    text-align: right;
    justify-self: right;
    margin: auto auto;
}
.footer-text{
    display: inline-block;
    width: 45%;
    margin: 0 1rem;
}
nav ul, .profile-box, .welcome-text a{
    font-family: 'Acme', sans-serif;
}

